<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<div><h1>Modules Available</h1></div>
<div style="width: 20%">
  <h3>Details</h3>
  <br/>
  <mat-selection-list #modulesAvailable (selectionChange)="selectionChanged($event)">
    <mat-list-option style=" border-radius: 10px; margin: 20px" #listItem *ngFor="let module of modules;" [value]=module.moduleName [ngStyle]="{'background-color': listItem.selected ? '#c6ff00' : 'grey' }" >
      <table>
        <tr matLine>Module: {{module.moduleName}}</tr>
        <tr matLine>Entry Component: {{module.entryComponent}}</tr>
        <tr matLine>Location: {{module.location}}</tr>
      </table>
    </mat-list-option>
  </mat-selection-list>
</div>
<br/>
<div>
    <mat-tab-group >
        <mat-tab *ngFor="let component of componentFactoryMap | keyvalue" [label]=component.key>
          <div appConponentLoader [name]=component.key [componentFactory]=component.value></div>
        </mat-tab>
    </mat-tab-group>
      
</div>